:root {
    --primary-color: #131313;
    --secondary-color: #29ef99;
    --accent-color: white;
    --extra-color: #CFCFCE;

}

* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #131313;
    color: var(--accent-color);

}

main {
    flex: 1;
}

h2, h3, p {
    text-align: center;
}

h3 {
    margin: 0;
}

p {
    margin: 6px 0 18px 0;
}